$spacing: 1.25rem;
$mintrack: 200px;

.container {
	width: 100%;
	display: grid;
	grid-auto-flow: dense;
	grid-gap: 1px;
	grid-template-columns: repeat(5, 1fr);
	padding: $spacing;
}

@media (max-width: 1545px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 1200px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 880px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 560px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}
