@import '../../styles/variables.css';

span {
	display: block;
	padding: 0.75rem 0 0 1rem;
}

.originAutomated {
	color: var(--automated-origin-text);
}

.originManual {
	color: var(--manual-origin-text);
}
